* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EEE;
}

.container {
  min-height:600px;
  max-width:800px;
}

.header {
  margin:0;
}

h4,
h5,
h6 {
  margin:0 0 5 0;  
}

.section-label {
  margin:0;
}